.text-normal {
	font-weight: normal !important;
}
.text-max-width-400 {
	max-width: 400px !important;
}
.h6 {
	font-size: 16px !important;
	font-weight: bold;
}
.text-align-center {
	text-align: center !important;
}
