.d-flex {
	display: flex !important;
}
.flex-column {
	flex-direction: column !important;
}
.flex-row {
	flex-direction: row !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.header {
	&__logo {
		background: $blue-4;
		color: $gray-2 !important;
		padding: 10px 15px;
		border-radius: 9px;
	}
	&__item {
		&:hover {
			color: $blue-5;
		}
		&--selected {
			color: $blue-5 !important;
			font-size: large !important;
		}
	}
	&__admin {
		background: $white;
		box-shadow: 0px 2px 8px #f0f1f2;
		padding: 30px 25px 6px 25px;
		margin-bottom: 60px;
	}
	&__contain-logo {
		gap: 0 !important;
		align-items: flex-end;
	}
}
